<div class="card">
  <div class="card-header">
    <h1 class="card-title">Exchange Rate</h1>
    <h3>Base: {{ currency }}</h3>
    <h5>Fecha: {{ rates.date }}</h5>
  </div>

  <div class="card-body">
    <div class="form-group row">
      <label for="currency" class="col-md-1 col-form-label">Moneda:</label>
      <input type="text" class="form-control col-md-1" [(ngModel)]="query" maxLength="3">
      <button class="btn btn-dark mx-3" (click)="getRates()" [disabled]="query.length != 3">CONSULTAR</button>
    </div>
    
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th class="text-center">Moneda</th>
          <th class="text-center">Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rate of rates.rates">
          <td class="text-center">{{ rate.currency }}</td>
          <td class="text-center">{{ rate.value }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
